@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/avenir/font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-primary: #c8c8c8;
}

* {
  font-family: "Avenir", cursive !important;
  font-weight: 200 !important;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary);
}

*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: var(--color-primary);
}

*::-webkit-scrollbar-track:active {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #000000;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #62a34b;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #62a34b;
}

body {
  overflow-y: scroll !important;
}
